<button 
        class="btn btn-primary" 
        (click)="onToggleParagraph($event)"
        >Display Details</button>

<p *ngIf="showParagraph">Secret password = Tuna</p>

<p *ngFor="let toggle of toggleHistory"
        [ngStyle]="{backgroundColor: getColor(toggle)}"
        [ngClass]="getCSSClass(toggle)"
        >{{ toggle.id }} -> {{ toggle.timestamp }} -> action: {{ toggle.action }}</p>

