<label>Enter a user name: </label>
<input
        type="text"
        class="form-control"
        [(ngModel)]="username" />

<p>{{ username }}</p> 

<button
        class="btn btn-danger"
        (click)="onClickReset($event)"
        [disabled]="username === ''"
        >Reset</button>
